body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    color: white;
    background-image: url('../Recursos/fondo.png');
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
}

h1, h2 {
    font-family: 'MedievalSharp', cursive;
}

header {
    background: rgb(78,48,12);
    background: linear-gradient(90deg, rgba(78,48,12,1) 9%, rgba(98,72,1,1) 47%, rgba(54,44,5,1) 58%, rgba(60,43,3,1) 100%);    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5px 0.5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.boton-personajes {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:15px;
	border:2px solid #e7f0ed;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:12px 11px;
	text-decoration:none;
	text-shadow:0px 0px 1px #97bdb7;
}
.boton-personajes:hover {
	background-color:transparent;
}
.boton-personajes:active {
	position:relative;
	top:1px;
}
.compra-juego {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:15px;
	border:2px solid #e7f0ed;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:12px 11px;
	text-decoration:none;
	text-shadow:0px 0px 1px #97bdb7;
}
.compra-juego:hover {
	background-color:transparent;
}
.compra-juego:active {
	position:relative;
	top:1px;
}
.foros {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:15px;
	border:2px solid #e7f0ed;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:12px 11px;
	text-decoration:none;
	text-shadow:0px 0px 1px #97bdb7;
}
.foros:hover {
	background-color:transparent;
}
.foros:active {
	position:relative;
	top:1px;
}

header div {
    text-align: center;
}

h1, h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-weight: normal;
}


.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navegacion ul li {
    margin: 0 15px;
}

.navegacion ul li a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navegacion ul li a:hover {
    background-color: #888;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    margin-top: 80px; 
    height: 500px; 
    overflow: auto; 
}

.seccion {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #49ad49; 
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto; 
    max-height: 400px; 
    margin-bottom: 20px; 
}

.seccion h2 {
    text-align: center;
    color: #26922f;
    margin-top: 0;
}

.lista-personajes {
    list-style-type: disc;
    padding-left: 20px;
}

.lista-personajes li {
    margin: 5px 0;
}

footer {
    background: rgb(78,48,12);
    background: linear-gradient(90deg, rgba(78,48,12,1) 9%, rgba(98,72,1,1) 47%, rgba(54,44,5,1) 58%, rgba(60,43,3,1) 100%);    color: white;
    padding: 10px;
    text-align: center;
    color: #ccc;
    margin-top: 20px;
}
.contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
